<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> --}}
	{{!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" /> --}}
	<title>GamersMingle</title>

	<!-- CSS  -->
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	{{!-- jquery --}}
	{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}


</head>

<body class="grey lighten-2">
<div class="wrapper">
	{{{ body }}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/gamersMingle.js"></script>

	<script src="/assets/js/materialize.js"></script>
	<script src="/assets/js/init.js"></script>



<div class="push"></div>
</div>
		<footer class="page-footer purple darken-2">
		<div class="footer-copyright">
			<div class="container">
				Made by <a href="#">GamersMingle</a>
			</div>
		</div>
	</footer>
</body>



</html>