	<nav class="purple darken-2" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GamersMingle</a>
			<ul class="right hide-on-med-and-down">
			</ul>


			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center purple-text">GamersMingle</h1>
        <div class="row center">
            <h5 class="header col s12 light">A place to connect and play games with your friends</h5>
        </div>
        <div class="row center">

            <a href="signup"><input class="btn purple darken-2" id="welcomeSignup" type="submit" value="Sign Up" /></a>
            <a href="signin"><input class="btn purple darken-2" id="welcomeSignIn" type="submit" value="Sign In" /></a>
        </div>
        <br><br>
        <div class="row center">

        </div>

    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Games</h5>

                    <p class="light">"Being new to the area, I was home with nothing to do. I was able to connect to my
                        friends through the GamersMingle app. Thanks for connecting me to my friends from around the
                        world through the internet." User caliew26</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">"Good opportunity to get to meet anyone from anywhere while playing games (new and old)." User quack</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">"Very lean design, easy to follow. Signup and Play." User anonymous.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>

</div>